APP_ENV=dev
APP_PORT=8000

OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=qwen2.5:7b

MYSQL_HOST=101.126.81.197
MYSQL_PORT=3307
MYSQL_DATABASE=patient_agent
MYSQL_USER=root
MYSQL_PASSWORD=123456

REDIS_HOST=101.126.81.197
REDIS_PORT=6389
REDIS_PASSWORD=123456

MILVUS_HOST=localhost
MILVUS_PORT=19530

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
